@font-face {
  font-family: "GothamProBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype"); }

@font-face {
  font-family: "GothamProMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"); }

@font-face {
  font-family: "GothamProLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype"); }

@font-face {
  font-family: "GothamProRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"); }

@font-face {
  font-family: "knopico";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IcoMoon/knopico.eot?#iefix") format("embedded-opentype"), url("../fonts/IcoMoon/knopico.woff") format("woff"), url("../fonts/IcoMoon/knopico.ttf") format("truetype"), url("../fonts/IcoMoon/knopico.svg#knopico") format("svg"); }

p, span, h1, h2, h3, h4, h5, h6, ul, li, a, input {
  margin: 0;
  padding: 0; }

body {
  font-family: "GothamProBold", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000;
  width: 100%;
  height: 100%; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'knopico' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-telegram-logo:before {
  content: "\e900"; }

.icon-viber:before {
  content: "\e901"; }

.icon-vk:before {
  content: "\e902"; }

.icon-whatsapp-logo:before {
  content: "\e903"; }

.top_line.fixed {
  position: fixed;
  width: 100%;
  z-index: 20;
  background: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-bottom: 1px solid #dcdcdc; }

.top_mnu {
  list-style-type: none;
  display: block; }
  .top_mnu li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 43px; }
    .top_mnu li:first-child {
      margin-left: 0; }
    .top_mnu li a {
      color: #000;
      font-size: 14px;
      line-height: 22px;
      font-family: "GothamProBold", sans-serif;
      border-bottom: 5px solid transparent;
      padding: 24px 0 19px 0;
      display: block;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .top_mnu li a:hover {
        color: #000;
        text-decoration: none;
        border-bottom: 5px solid #ff7437; }
      .top_mnu li a:focus {
        text-decoration: none;
        border-bottom: 5px solid #ff7437; }

.top_right {
  float: right; }

.button {
  background: #607ace;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  line-height: 14px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.top-button {
  padding: 13px 18px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin-top: 12px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px; }
  .top-button:hover {
    background: #8198e2;
    text-decoration: none;
    color: #fff; }
  .top-button:focus {
    background: #5d75c3;
    text-decoration: none;
    color: #fff; }

.social_button {
  background: transparent;
  padding: 12px 21px;
  display: inline-block;
  -webkit-border-radius: 21px;
          border-radius: 21px; }

.top_vk_button {
  color: #607ace;
  border: 1px solid #607ace;
  font-size: 14px;
  line-height: 14px; }
  .top_vk_button:hover {
    background: #607ace;
    color: #fff; }
  .top_vk_button:focus {
    background: #5d75c3;
    color: #fff; }

.head {
  background-image: url("../img/head_bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  display: block;
  position: relative;
  z-index: 0; }
  .head::before {
    content: '';
    display: block;
    position: absolute;
    background: #334cb4;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -1; }

.header_top {
  padding-top: 30px;
  padding-bottom: 95px;
  overflow: hidden; }

.treatment_conter {
  text-align: center;
  color: #fff;
  font-family: "GothamProLight", sans-serif;
  margin-top: 10px; }

.count_items {
  margin-bottom: 12px; }

.count_item {
  display: inline-block;
  border: 1px solid #fff;
  width: 29px;
  padding: 10px 0;
  text-align: center; }

.right_contact {
  float: right;
  margin-top: 10px;
  text-align: right; }
  .right_contact a {
    color: #fff;
    font-family: "GothamProBold", sans-serif;
    font-size: 22px;
    margin-bottom: 14px;
    display: block; }
    .right_contact a:hover {
      text-decoration: none; }
    .right_contact a:focus {
      text-decoration: none; }
  .right_contact .adress {
    color: #fff;
    font-family: "GothamProLight", sans-serif; }

h1 {
  font-family: "GothamProBold", sans-serif;
  font-size: 40px;
  line-height: 54px;
  color: #fff;
  margin-bottom: 60px; }

.appliances_items {
  list-style-type: none;
  color: #fff;
  margin-bottom: 75px; }

.appliances_item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 20%; }
  .appliances_item .appliances_img {
    display: inline-block;
    width: 64px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: top center; }
  .appliances_item .appliances_type {
    font-family: "GothamProMedium", sans-serif;
    font-size: 16px; }
  .appliances_item .appliences_year {
    font-family: "GothamProRegular", sans-serif;
    font-size: 11px;
    line-height: 21px;
    color: #a2aeff; }

.top_form {
  display: block;
  margin-bottom: 97px; }
  .top_form input {
    padding: 15px 18px;
    -webkit-border-radius: 22px;
            border-radius: 22px;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    -webkit-border-radius: 33px;
            border-radius: 33px;
    border: none;
    font-family: "GothamProLight", sans-serif;
    outline: none;
    color: #000; }
  .top_form input.error {
    border: 1px solid #ff7437;
    color: #ff7437; }
  .top_form button {
    outline: none;
    border: none;
    background-color: #ff7437;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    padding: 16px 32px;
    -webkit-border-radius: 33px;
            border-radius: 33px;
    margin-left: 15px; }
    .top_form button:hover {
      background: #e8875d;
      color: #fff; }
    .top_form button:focus {
      background: #d95e28;
      color: #fff; }

.video_box_wrap {
  text-align: center;
  margin: 0 auto; }

.video_box {
  position: relative;
  margin: 0 auto;
  min-height: 400px;
  min-width: 400px;
  display: inline-block;
  background-image: url("../img/video-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  .video_box .fa {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    font-size: 40px;
    line-height: 40xpx;
    display: block;
    z-index: 2000;
    color: #4c4c4c;
    width: 40px;
    height: 40px; }
  .video_box .video_text {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: 35px auto 0 auto; }
    .video_box .video_text span {
      font-family: "GothamProMedium", sans-serif;
      font-size: 18px;
      line-height: 26px;
      color: #fff;
      text-align: center;
      display: inline;
      max-width: 210px;
      bottom: 0;
      margin: 0px auto 0 auto;
      padding-bottom: 3px;
      border-bottom: 2px #fff dotted; }
  .video_box:before {
    content: '';
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: auto;
    border: 2px solid #fff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 160px;
    height: 160px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .video_box:after {
    content: '';
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: auto;
    border: 2px solid #fff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .video_box:hover {
    cursor: pointer; }
    .video_box:hover:before {
      width: 180px;
      height: 180px; }
    .video_box:hover::after {
      width: 90px;
      height: 90px; }

.padding--container {
  padding-top: 100px; }

.advantages {
  border-bottom: 1px solid #cbcbcb; }

.section_head {
  font-size: 40px;
  line-height: 54px;
  color: #000;
  text-align: center;
  margin-bottom: 80px; }

.adv_item {
  margin-bottom: 100px; }
  .adv_item .adv_img {
    width: 105px;
    height: 105px;
    float: left;
    display: block;
    background-repeat: no-repeat;
    background-position: top center;
    margin-right: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .adv_item .adv_text {
    display: inline;
    font-size: 20px; }
  .adv_item:hover .adv_img {
    background-position: center center; }

.partners {
  padding-bottom: 100px; }

.partner_items {
  text-align: center; }

.partners_item {
  width: 151px;
  height: 80px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 45px; }

.many_more {
  margin-top: 35px;
  display: inline-block;
  text-align: center; }

.evaluate_section {
  background-image: url("../img/ev_bg.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
          background-size: cover;
  padding-bottom: 100px; }
  .evaluate_section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(110, 137, 247, 0.7); }

.evaluate_form .form_head, .modal_form .form_head {
  background-color: #ff7437;
  color: #fff;
  font-size: 32px;
  line-height: 36px;
  padding: 40px 50px; }

.evaluate_form .form_container, .modal_form .form_container {
  padding: 40px 50px;
  background: #fff;
  overflow: hidden; }
  .evaluate_form .form_container .evaluate_input, .modal_form .form_container .evaluate_input {
    display: inline-block;
    width: 100%;
    font-family: "GothamProLight", sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    -webkit-border-radius: 23px;
            border-radius: 23px;
    border: 1px solid #cbcbcb;
    margin-bottom: 20px;
    color: #6c6c6c;
    outline: none; }
  .evaluate_form .form_container .evaluate_input.error, .modal_form .form_container .evaluate_input.error {
    border: 1px solid #ff7437;
    color: #ff7437; }
  .evaluate_form .form_container textarea, .modal_form .form_container textarea {
    display: inline-block;
    width: 100%;
    font-family: "GothamProLight", sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    -webkit-border-radius: 23px;
            border-radius: 23px;
    border: 1px solid #cbcbcb;
    margin-bottom: 20px;
    color: #6c6c6c;
    outline: none;
    resize: none; }

.i_agree {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  font-family: "GothamProRegular", sans-serif;
  color: #5b5b5b;
  vertical-align: top; }

.i_agree_check {
  display: inline-block;
  vertical-align: top; }

input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

input[type=checkbox] + i {
  display: inline-block; }

input[type=checkbox] + i:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #898989;
          box-shadow: 0 0 0 1px #898989;
  margin-right: 0.75em;
  -webkit-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  transition: 0.5s ease all; }

label {
  display: inline-block;
  float: left;
  cursor: pointer;
  line-height: 18px;
  font-size: 12px;
  color: #898989;
  max-width: 480px;
  text-align: left; }

input[type=checkbox]:checked + i:before {
  background: gray; }

.order_button, .footer-button, .modal_button {
  outline: none;
  border: none;
  background-color: #ff7437;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  padding: 16px 32px;
  -webkit-border-radius: 33px;
          border-radius: 33px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .order_button:hover, .footer-button:hover, .modal_button:hover {
    background: #e8875d;
    color: #fff; }
  .order_button:focus, .footer-button:focus, .modal_button:focus {
    background: #d95e28;
    color: #fff; }

.order_button {
  margin-top: 20px;
  float: right; }

.section_text {
  margin-top: 180px; }
  .section_text .text {
    color: #fff;
    font-family: "GothamProLight", sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 35px; }

.author_wrapper .author_img {
  width: 105px;
  height: 105px;
  vertical-align: middle;
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 20px; }

.author_wrapper .author_name_wrapper {
  display: inline-block;
  vertical-align: middle; }
  .author_wrapper .author_name_wrapper .author_name {
    font-family: "GothamProRegular", sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 36px; }
  .author_wrapper .author_name_wrapper .author_special {
    font-size: 16px;
    line-height: 36px;
    font-family: "GothamProLight", sans-serif;
    color: #fff; }

footer .section_head {
  text-align: left; }

.footer_contacts {
  font-family: "GothamProLight", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px; }
  .footer_contacts span, .footer_contacts a {
    font-family: "GothamProBold", sans-serif;
    color: #000; }
  .footer_contacts a:hover {
    color: #000;
    text-decoration: none; }
  .footer_contacts a:focus {
    color: #000;
    text-decoration: none; }

.footer_form {
  display: inline-block;
  margin-bottom: 40px; }
  .footer_form input {
    display: inline-block;
    font-family: "GothamProLight", sans-serif;
    font-size: 16px;
    padding: 12px 20px;
    -webkit-border-radius: 23px;
            border-radius: 23px;
    width: 250px;
    border: none;
    margin-bottom: 20px;
    outline: none;
    background: #e8e8e8;
    color: #000; }
  .footer_form input.error {
    border: 1px solid #ff7437;
    color: #ff7437; }
  .footer_form .footer-button {
    display: inline-block;
    margin-left: 15px; }

.footer_social {
  padding-bottom: 100px; }

.fs_btn {
  padding: 9px 17px;
  -webkit-border-radius: 21px;
          border-radius: 21px;
  border: 1px solid #000;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer; }
  .fs_btn .fs_icon {
    font-size: 22px;
    line-height: 22px;
    position: static;
    display: inline-block;
    vertical-align: middle; }
  .fs_btn .fa {
    font-size: 22px;
    line-height: 22px;
    position: static; }
  .fs_btn .social_phone {
    display: none;
    font-size: 18px;
    font-family: "GothamProMedium", sans-serif;
    vertical-align: middle;
    padding-left: 15px; }
  .fs_btn:hover {
    text-decoration: none; }
    .fs_btn:hover .fs_icon {
      color: #fff; }
    .fs_btn:hover .social_phone {
      color: #fff; }
  .fs_btn:focus {
    text-decoration: none; }
    .fs_btn:focus .social_phone {
      color: #fff; }

.btn_viber {
  border: 1px solid #834995; }
  .btn_viber .fs_icon {
    color: #834995; }
  .btn_viber:hover {
    background: #834995; }

.btn_whatsapp {
  border: 1px solid #83d045; }
  .btn_whatsapp .fs_icon {
    color: #83d045; }
  .btn_whatsapp:hover {
    background: #83d045; }

.btn_telegram {
  border: 1px solid #7cb9f6; }
  .btn_telegram .fs_icon {
    color: #7cb9f6; }
  .btn_telegram:hover {
    background: #7cb9f6; }

.btn_vkontakte {
  border-color: #5a9dc4; }
  .btn_vkontakte .fs_icon {
    color: #5a9dc4; }
  .btn_vkontakte:hover {
    background: #5a9dc4; }

.padding_r {
  padding-right: 0 !important;
  margin-right: 0; }

.map_wrapper {
  width: 100%; }

.footer_line {
  padding: 25px 0;
  background: #f2f2f2; }

.pt80 {
  margin-top: 70px; }

.mw {
  float: right; }
  .mw span {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    font-family: "GothamProLight", sans-serif;
    color: #000;
    font-size: 17px;
    line-height: 17px; }
  .mw img {
    display: inline-block;
    vertical-align: top;
    line-height: 36px; }

.modal_form {
  max-width: 650px;
  margin: 0 auto;
  position: relative; }
  .modal_form .form_head {
    text-align: center; }

.modal_button {
  margin-top: 20px;
  float: right; }

.mfp-close-btn-in .mfp-close {
  color: #fff; }

.f-help-error {
  font-family: "GothamProLight", sans-serif;
  color: #ff7437;
  -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 18px;
  position: absolute;
  display: block; }
  .f-help-error::before {
    content: '';
    top: -10px;
    position: absolute;
    left: 23px;
    height: 0;
    width: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; }

.hidden {
  display: none; }

.hidden_animate {
  opacity: 0; }

.visible {
  opacity: 1; }

@media only screen and (max-width: 1920px) {
  .container-fluid {
    padding-right: 300px;
    padding-left: 300px; } }

@media only screen and (max-width: 1720px) {
  .container-fluid {
    padding-right: 200px;
    padding-left: 200px; } }

@media only screen and (max-width: 1520px) {
  .container-fluid {
    padding-right: 100px;
    padding-left: 100px; } }

@media only screen and (max-width: 1480px) {
  .container-fluid {
    padding-right: 60px;
    padding-left: 60px; } }

@media only screen and (max-width: 1480px) {
  /**/ }

@media only screen and (max-width: 1380px) {
  /**/ }

@media only screen and (max-width: 1250px) {
  .top-button {
    margin-right: 0; } }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .adv_item {
    display: inline-block;
    margin-bottom: 100px; }
  .footer_form .footer-button {
    display: block;
    margin-left: 0; } }

@media only screen and (max-width: 1025px) {
  .top_mnu li {
    margin-left: 20px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .top_line {
    position: static;
    text-align: left; }
  .top_line.fixed {
    position: static; }
  .top_mnu {
    display: none; }
  .treatment_conter {
    display: none; }
  .top-button {
    margin-bottom: 12px; }
  .adv_item .adv_text {
    font-size: 18px; }
  .adv_item .adv_img {
    background-position: top left; }
  .section_text {
    margin-top: 60px; }
  .map_wrapper {
    display: none; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .container-fluid {
    padding-right: 40px;
    padding-left: 40px; }
  .appliances_items {
    margin-bottom: 35px; }
  .appliances_item {
    width: 50%;
    margin-bottom: 30px; }
    .appliances_item:last-child {
      width: 100%; }
  .top_vk_button {
    display: none; }
  .top_form {
    text-align: center;
    margin-bottom: 50px; }
    .top_form input {
      display: inline-block;
      width: 300px;
      margin-bottom: 20px; }
    .top_form button {
      display: block;
      margin: 0 auto; }
  .header_top {
    padding-bottom: 50px; }
  .logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; }
  .right_contact {
    float: none;
    text-align: center; }
    .right_contact a {
      font-size: 30px; }
    .right_contact .adress {
      display: none; }
  .video_box {
    margin-bottom: 100px; }
    .video_box .video_text {
      display: none; }
  h1 {
    font-size: 30px;
    line-height: 44px;
    text-align: center; }
  .partners_item {
    display: inline-block; }
  .top_right {
    float: none;
    text-align: center; } }

@media only screen and (max-width: 590px) {
  /**/ }

@media only screen and (max-width: 550px) {
  .video_box {
    min-width: 300px;
    min-height: 300px; }
  .fs_btn {
    margin-bottom: 20px;
    display: inline-block;
    float: left;
    clear: both; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header_top {
    padding-bottom: 30px; }
  h1 {
    font-size: 25px;
    line-height: 35px; }
  .top_form input {
    width: 250px; }
  .video_box {
    min-width: 250px;
    min-height: 250px; }
  .right_contact a {
    font-size: 20px; }
  .section_head {
    font-size: 28px;
    line-height: 34px; }
  .adv_item {
    text-align: center;
    display: block; }
    .adv_item .adv_img {
      display: block;
      float: none;
      margin: 0 auto; }
  .evaluate_form .form_head {
    padding: 20px 25px;
    font-size: 22px;
    text-align: center; }
  .evaluate_form .form_container {
    padding: 20px 25px;
    text-align: center; }
  .order_button {
    float: none;
    margin: 10px auto; }
  .author_wrapper {
    display: block;
    text-align: center;
    margin: 0 auto; }
    .author_wrapper .author_name_wrapper {
      display: block; }
  .padding--container {
    padding-top: 50px; }
  footer .section_head {
    margin-bottom: 50px; } }

@media only screen and (max-width: 390px) {
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px; } }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
