@font-face {
  font-family: 'knopico';
  src:  url('fonts/knopico.eot?sox4t3');
  src:  url('fonts/knopico.eot?sox4t3#iefix') format('embedded-opentype'),
    url('fonts/knopico.ttf?sox4t3') format('truetype'),
    url('fonts/knopico.woff?sox4t3') format('woff'),
    url('fonts/knopico.svg?sox4t3#knopico') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'knopico' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram-logo:before {
  content: "\e900";
}
.icon-viber:before {
  content: "\e901";
}
.icon-vk:before {
  content: "\e902";
}
.icon-whatsapp-logo:before {
  content: "\e903";
}
