@import "vars"


@media only screen and (max-width : 1920px)
  .container-fluid
    padding-right: 300px
    padding-left: 300px


@media only screen and (max-width : 1720px)
  .container-fluid
    padding-right: 200px
    padding-left: 200px

@media only screen and (max-width : 1520px)
  .container-fluid
    padding-right: 100px
    padding-left: 100px

@media only screen and (max-width : 1480px)
  .container-fluid
    padding-right: 60px
    padding-left: 60px


@media only screen and (max-width : 1480px)
  /**/



@media only screen and (max-width : 1380px)
  /**/



@media only screen and (max-width : 1250px)
  .top-button
    margin-right: 0



/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .adv_item
    display: inline-block
    margin-bottom: 100px
  .footer_form
    .footer-button
      display: block
      margin-left: 0


@media only screen and (max-width : 1025px)
  .top_mnu 
    li
      margin-left: 20px



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .top_line
    position: static
    text-align: left
  .top_line.fixed
    position: static
  .top_mnu
    display: none
  .treatment_conter
    display: none
  .top-button
    margin-bottom: 12px
  .adv_item
    .adv_text
      font-size: 18px
    .adv_img
      background-position: top left
  .section_text
    margin-top: 60px
  .map_wrapper
    display: none





/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .container-fluid
    padding-right: 40px
    padding-left: 40px
  .appliances_items
    margin-bottom: 35px
  .appliances_item
    width: 50%
    margin-bottom: 30px
    &:last-child
      width: 100%
  .top_vk_button
    display: none
  .top_form
    text-align: center
    margin-bottom: 50px
    input
      display: inline-block
      width: 300px
      margin-bottom: 20px
    button
      display: block
      margin: 0 auto
  .header_top
    padding-bottom: 50px
  .logo
    text-align: center
    display: block
    margin: 0 auto
    margin-bottom: 20px
  .right_contact
    float: none
    text-align: center
    a
      font-size: 30px
    .adress
      display: none
  .video_box
    margin-bottom: 100px
    .video_text
      display: none
  h1
    font-size: 30px
    line-height: 44px
    text-align: center
  .partners_item
    display: inline-block
  .top_right
    float: none
    text-align: center




@media only screen and (max-width : 590px)
  /**/

@media only screen and (max-width : 550px)
  .video_box
    min-width: 300px
    min-height: 300px
  .fs_btn
    margin-bottom: 20px
    display: inline-block
    float: left
    clear: both

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .header_top
    padding-bottom: 30px
  h1
    font-size: 25px
    line-height: 35px
  .top_form 
    input
      width: 250px

  .video_box
    min-width: 250px
    min-height: 250px
  .right_contact 
    a
      font-size: 20px
  .section_head
    font-size: 28px
    line-height: 34px
  .adv_item
    text-align: center
    display: block
    .adv_img
      display: block
      float: none
      margin: 0 auto
  .evaluate_form 
    .form_head
      padding: 20px 25px
      font-size: 22px
      text-align: center
    .form_container
      padding: 20px 25px
      text-align: center
  .order_button
    float: none
    margin: 10px auto

  .author_wrapper 
    display: block
    text-align: center
    margin: 0 auto
    .author_name_wrapper
      display: block
  .padding--container
    padding-top: 50px
  footer
    .section_head
      margin-bottom: 50px


@media only screen and (max-width : 390px)
  .container-fluid
    padding-right: 20px
    padding-left: 20px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  header


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/



/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
