@import "vars.sass"
@import "bourbon"
@import "fonts"

p, span, h1, h2, h3, h4, h5, h6, ul, li, a, input
	margin: 0
	padding: 0


body
	font-family: "GothamProBold", sans-serif
	font-size: 17px
	line-height: 24px
	color: #000
	width: 100%
	height: 100%

[class^="icon-"], [class*=" icon-"]
	font-family: 'knopico' !important
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale


.icon-telegram-logo:before 
	content: "\e900"

.icon-viber:before 
	content: "\e901"

.icon-vk:before 
	content: "\e902"

.icon-whatsapp-logo:before 
	content: "\e903"



.top_line.fixed
	position: fixed
	width: 100%
	z-index: 20
	background: #fff
	transition: .3s
	border-bottom: 1px solid #dcdcdc



.top_mnu
	list-style-type: none
	display: block
	li
		display: inline-block
		text-transform: uppercase
		margin-left: 43px
		&:first-child
			margin-left: 0
		a
			color: #000
			font-size: 14px
			line-height: 22px
			font-family: "GothamProBold", sans-serif
			border-bottom: 5px solid transparent
			padding: 24px 0 19px 0
			display: block
			transition: .3s
			&:hover
				color: #000
				text-decoration: none
				border-bottom: 5px solid $accent-color
			&:focus
				text-decoration: none
				border-bottom: 5px solid $accent-color

.top_right
	float: right

.button
	background: $main-color
	display: inline-block
	color: #fff
	text-transform: uppercase
	font-family: "GothamProBold", sans-serif
	font-size: 14px
	line-height: 14px
	transition: .3s

.top-button
	padding: 13px 18px
	border-radius: 20px
	margin-top: 12px
	display: inline-block
	cursor: pointer
	margin-right: 10px
	&:hover
		background: #8198e2
		text-decoration: none
		color: #fff
	&:focus
		background: #5d75c3
		text-decoration: none
		color: #fff


.social_button
	background: transparent
	padding: 12px 21px
	display: inline-block
	border-radius: 21px
	

.top_vk_button
	color: $main-color
	border: 1px solid $main-color
	font-size: 14px
	line-height: 14px
	&:hover
		background: #607ace
		color: #fff
	&:focus
		background: #5d75c3
		color: #fff

.head
	background-image: url("../img/head_bg.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: 50% 50%
	background-attachment: fixed
	display: block
	position: relative
	z-index: 0
	&::before
		content: ''
		display: block
		position: absolute
		background: #334cb4
		width: 100%
		height: 100%
		opacity: .7
		z-index: -1


.header_top
	padding-top: 30px
	padding-bottom: 95px
	overflow: hidden


.treatment_conter
	text-align: center
	color: #fff 
	font-family: "GothamProLight", sans-serif
	margin-top: 10px




.count_items
	margin-bottom: 12px

.count_item
	display: inline-block
	border: 1px solid #fff
	width: 29px
	padding: 10px 0
	text-align: center

.right_contact
	float: right
	margin-top: 10px
	text-align: right
	a
		color: #fff
		font-family: "GothamProBold", sans-serif
		font-size: 22px
		margin-bottom: 14px
		display: block
		&:hover
			text-decoration: none
		&:focus
			text-decoration: none
	.adress
		color: #fff
		font-family: "GothamProLight", sans-serif

h1
	font-family: "GothamProBold", sans-serif
	font-size: 40px
	line-height: 54px
	color: #fff
	margin-bottom: 60px

.appliances_items
	list-style-type: none
	color: #fff
	margin-bottom: 75px


.appliances_item
	text-align: center
	display: inline-block
	vertical-align: top
	width: 20%
	.appliances_img
		display: inline-block
		width: 64px
		height: 50px
		background-repeat: no-repeat
		background-position: top center
	.appliances_type
		font-family: "GothamProMedium", sans-serif
		font-size: 16px
	.appliences_year
		font-family: "GothamProRegular", sans-serif
		font-size: 11px
		line-height: 21px
		color: #a2aeff

.top_form
	display: block
	margin-bottom: 97px
	input
		padding: 15px 18px
		border-radius: 22px
		color: #fff
		font-size: 18px
		line-height: 18px
		display: inline-block
		border-radius: 33px
		border: none
		font-family: "GothamProLight", sans-serif
		outline: none
		color: #000
	input.error
		border: 1px solid $accent-color
		color: $accent-color
	button
		outline: none
		border: none
		background-color: $accent-color
		color: #fff
		text-transform: uppercase
		font-size: 18px
		line-height: 18px
		display: inline-block
		padding: 16px 32px
		border-radius: 33px
		margin-left: 15px
		&:hover
			background: #e8875d
			color: #fff
		&:focus
			background: #d95e28
			color: #fff


.video_box_wrap
	text-align: center
	margin: 0 auto

.video_box
	position: relative
	margin: 0 auto
	min-height: 400px
	min-width: 400px
	display: inline-block
	background-image: url("../img/video-bg.png")
	background-repeat: no-repeat
	background-size: contain
	.fa
		position: absolute
		left: 0
		right: 0
		bottom: 0
		top: 0
		margin: auto
		font-size: 40px
		line-height: 40xpx
		display: block
		z-index: 2000
		color: #4c4c4c
		width: 40px
		height: 40px
	.video_text
		position: absolute
		left: 0
		bottom: 0
		right: 0
		top: 0
		margin: 35px auto 0 auto
		span
			font-family: "GothamProMedium", sans-serif
			font-size: 18px
			line-height: 26px
			color: #fff
			text-align: center
			display: inline
			max-width: 210px
			bottom: 0
			margin: 0px auto 0 auto
			padding-bottom: 3px
			border-bottom: 2px #fff dotted
	&:before
		content: ''
		position: absolute
		border-radius: 50%
		margin: auto
		border: 2px solid #fff
		top: 0
		bottom: 0
		right: 0
		left: 0
		width: 160px
		height: 160px
		background: rgba(255, 255, 255, .3)
		transition: .2s
	&:after
		content: ''
		position: absolute
		border-radius: 50%
		margin: auto
		border: 2px solid #fff
		top: 0
		bottom: 0
		right: 0
		left: 0
		width: 100px
		height: 100px
		background: #fff
		transition: .2s
	&:hover
		cursor: pointer
		&:before
			width: 180px
			height: 180px
		&::after
			width: 90px
			height: 90px

.padding--container
	padding-top: 100px

.advantages
	border-bottom: 1px solid #cbcbcb

.section_head
	font-size: 40px
	line-height: 54px
	color: #000
	text-align: center
	margin-bottom: 80px

.adv_item
	margin-bottom: 100px
	.adv_img
		width: 105px
		height: 105px
		float: left
		display: block
		background-repeat: no-repeat
		background-position: top center
		margin-right: 30px
		transition: .3s
	.adv_text
		display: inline
		font-size: 20px
	&:hover
		.adv_img
			background-position: center center

.partners
	padding-bottom: 100px

.partner_items
	text-align: center
.partners_item
	width: 151px
	height: 80px
	display: block
	background-repeat: no-repeat
	background-position: center center
	margin-bottom: 45px

.many_more
	margin-top: 35px
	display: inline-block
	text-align: center


.evaluate_section
	background-image: url("../img/ev_bg.jpg")
	position: relative
	background-repeat: no-repeat
	background-position: 50% 50%
	background-attachment: fixed
	background-size: cover
	padding-bottom: 100px
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: rgba(110, 137, 247, .7)

.evaluate_form, .modal_form
	.form_head
		background-color: $accent-color
		color: #fff
		font-size: 32px
		line-height: 36px
		padding: 40px 50px
	.form_container
		padding: 40px 50px
		background: #fff
		overflow: hidden
		.evaluate_input
			display: inline-block
			width: 100%
			font-family: "GothamProLight", sans-serif
			font-size: 16px
			padding: 10px 20px
			border-radius: 23px
			border: 1px solid #cbcbcb
			margin-bottom: 20px
			color: #6c6c6c
			outline: none
		.evaluate_input.error
			border: 1px solid $accent-color
			color: $accent-color
		textarea
			display: inline-block
			width: 100%
			font-family: "GothamProLight", sans-serif
			font-size: 16px
			padding: 10px 20px
			border-radius: 23px
			border: 1px solid #cbcbcb
			margin-bottom: 20px
			color: #6c6c6c
			outline: none
			resize: none

.i_agree
	display: inline-block
	font-size: 14px
	line-height: 21px
	font-family: "GothamProRegular", sans-serif
	color: #5b5b5b
	vertical-align: top
.i_agree_check
	display: inline-block
	vertical-align: top
		
input[type=checkbox]
	border: 0
	clip: rect(0 0 0 0)
	height: 1px; margin: -1px
	overflow: hidden
	padding: 0
	position: absolute
	width: 1px

input[type=checkbox] + i
	display: inline-block

input[type=checkbox] + i:before
	content: ''
	display: inline-block
	width: 10px
	height: 10px
	border: 1px solid #fff
	box-shadow: 0 0 0 1px #898989
	margin-right: 0.75em
	transition: 0.5s ease all
label 
	display: inline-block
	float: left
	cursor: pointer
	line-height: 18px
	font-size: 12px
	color: #898989
	max-width: 480px
	text-align: left

input[type=checkbox]:checked + i:before
	background: gray

.order_button, .footer-button, .modal_button
	outline: none
	border: none
	background-color: $accent-color
	color: #fff
	text-transform: uppercase
	font-size: 18px
	line-height: 18px
	display: inline-block
	padding: 16px 32px
	border-radius: 33px
	transition: .3s
	&:hover
		background: #e8875d
		color: #fff
	&:focus
		background: #d95e28
		color: #fff


.order_button
	margin-top: 20px
	float: right

.section_text
	margin-top: 180px
	.text
		color: #fff
		font-family: "GothamProLight", sans-serif
		font-size: 18px
		line-height: 21px
		margin-bottom: 35px

.author_wrapper
	.author_img
		width: 105px
		height: 105px
		vertical-align: middle
		display: inline-block
		border-radius: 50%
		background-position: center center
		background-repeat: no-repeat
		margin-right: 20px
	.author_name_wrapper
		display: inline-block
		vertical-align: middle
		.author_name
			font-family: "GothamProRegular", sans-serif
			color: #fff
			font-size: 18px
			line-height: 36px
		.author_special
			font-size: 16px
			line-height: 36px
			font-family: "GothamProLight", sans-serif
			color: #fff

footer
	.section_head
		text-align: left

.footer_contacts
	font-family: "GothamProLight", sans-serif
	font-size: 18px
	line-height: 30px
	margin-bottom: 40px
	span, a
		font-family: "GothamProBold", sans-serif
		color: #000
	a
		&:hover
			color: #000
			text-decoration: none
		&:focus
			color: #000
			text-decoration: none


.footer_form
	display: inline-block
	margin-bottom: 40px
	input
		display: inline-block
		font-family: "GothamProLight", sans-serif
		font-size: 16px
		padding: 12px 20px
		border-radius: 23px
		width: 250px
		border: none
		margin-bottom: 20px
		outline: none
		background: #e8e8e8
		color: #000
	input.error
		border: 1px solid $accent-color
		color: $accent-color
	.footer-button
		display: inline-block
		margin-left: 15px


.footer_social
	padding-bottom: 100px


.fs_btn
	padding: 9px 17px
	border-radius: 21px
	border: 1px solid #000
	display: inline-block
	margin-right: 10px
	cursor: pointer
	.fs_icon
		font-size: 22px
		line-height: 22px
		position: static
		display: inline-block
		vertical-align: middle
	.fa
		font-size: 22px
		line-height: 22px
		position: static
	.social_phone
		display: none
		font-size: 18px
		font-family: "GothamProMedium", sans-serif
		vertical-align: middle
		padding-left: 15px
	&:hover
		text-decoration: none
		.fs_icon
			color: #fff
		.social_phone
			color: #fff
	&:focus
		text-decoration: none
		.social_phone
			color: #fff

.btn_viber
	border: 1px solid #834995
	.fs_icon
		color: #834995
	&:hover
		background: #834995


.btn_whatsapp
	border: 1px solid #83d045
	.fs_icon
		color: #83d045
	&:hover
		background: #83d045

.btn_telegram
	border: 1px solid #7cb9f6
	.fs_icon
		color: #7cb9f6
	&:hover
		background: #7cb9f6

.btn_vkontakte
	border-color: #5a9dc4
	.fs_icon
		color: #5a9dc4
	&:hover
		background: #5a9dc4








.padding_r
	padding-right: 0 !important
	margin-right: 0

.map_wrapper
	width: 100%

.footer_line
	padding: 25px 0
	background: #f2f2f2

.pt80
	margin-top: 70px

.mw
	float: right
	span
		display: inline-block
		vertical-align: top
		margin-right: 10px
		font-family: "GothamProLight", sans-serif
		color: #000
		font-size: 17px
		line-height: 17px
	img
		display: inline-block
		vertical-align: top
		line-height: 36px



.modal_form
	max-width: 650px
	margin: 0 auto
	position: relative
	.form_head
		text-align: center


.modal_button
	margin-top: 20px
	float: right

.mfp-close-btn-in .mfp-close
	color: #fff

.f-help-error
	font-family: "GothamProLight", sans-serif
	color: $accent-color
	box-shadow: 0 0px 20px rgba(0,0,0,0.3)
	background: #fff
	padding: 18px
	position: absolute
	display: block
	&::before
		content: ''
		top: -10px
		position: absolute
		left: 23px
		@include triangle(20px, white, up)




.hidden
	display: none
.hidden_animate
	opacity: 0
.visible
	opacity: 1


@import "media"
